
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 5%; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
canvas { 
    width: 100%; 
    height: 100%;
}
h1 {
    margin-top: 0%;
    padding-top: 0%;
}
.container .jumbotron {
    padding: 5%;
    margin-top: 5%;
}
.gpsSeparator {
    border: 1px solid #666;
}
.dataBar {
    border: 1px solid #666;
    margin: 3% 8%;
}
#data-section {
    background-color: #eee;
}
.status-area .flash_message {
    padding: 5px;
    color: #157268;
    font-size: 110%;
    font-weight: 700;
}
strong {
    font-size: 125%;
}
.sensorList {
   list-style-type: none;
}
span {
    text-decoration: underline;
}
.sensorButtons, #sensor1Changes, #sensor2Changes, #betweenSensorDifference, #gpsError {
    display: none;
}
.bothArea {
   margin-top: 5%; 
}
#bothButton {
    font-size: 125%;
    padding: 3% 57%;
}
footer {
    margin: 50px 0;
}